In [1]:
# Pode-se criar tuplas usando só vírgulas como separador
# Pra ser uma tupla precisa ter vírgula

tuple_1 = (1, 2, 4, 8)
tuple_2 = 1., .5, .25, .125

print(tuple_1)
print(tuple_2)

#Note: each tuple element may be of a different type (floating-point, integer,
# or any other not-as-yet-introduced kind of data).

# para criar uma tupla com 1 só item, precisa da vírgula!
one_element_tuple_1 = (1, )
one_element_tuple_2 = 1.,

empty_tuple = () # vazia

(1, 2, 4, 8)
(1.0, 0.5, 0.25, 0.125)

#### Tuplas não são editáveis!

In [2]:
my_tuple = (1, 10, 100, 1000)

print(my_tuple[0]) # 1
print(my_tuple[-1]) # 100
print(my_tuple[1:]) # 10, 100, 1000
print(my_tuple[:-2]) # 1, 10

for elem in my_tuple:
    print(elem)

1
1000
(10, 100, 1000)
(1, 10)
1
10
100
1000

the len() function accepts tuples, and returns the number of elements contained inside;

the + operator can join tuples together (we've shown you this already)
                                         
the * operator can multiply tuples, just like lists;
                                         
the in and not in operators work in the same way as in lists.

In [3]:
var = 123

t1 = (1, )
t2 = (2, )
t3 = (3, var)

t1, t2, t3 = t2, t3, t1

print(t1, t2, t3)

(2,) (3, 123) (1,)

In [4]:
my_tuple = (1, 10, 100)

t1 = my_tuple + (1000, 10000)
t2 = my_tuple * 3

print(len(t2))
print(t1)
print(t2)
print(10 in my_tuple)
print(-10 not in my_tuple)

9
(1, 10, 100, 1000, 10000)
(1, 10, 100, 1, 10, 100, 1, 10, 100)
True
True

In [6]:
var = 123
 
t1 = (1, )
t2 = (2, )
t3 = (3, var)
 
t1, t2, t3 = t2, t3, t1
 
print(t1, t2, t3)

(2,) (3, 123) (1,)

In [9]:
# Tuplas são coleções ordenadas e não modificáveis (imutáveis) de dados.
# Elas podem ser consideradas como listas imutáveis. 

my_tuple = (1, 2, True, "a string", (3, 4), [5, 6], None)
print(my_tuple)

my_list = [1, 2, True, "a string", (3, 4), [5, 6], None]
print(my_list)

# criando tupla vazia
empty_tuple = ()
print(type(empty_tuple))    # outputs: <class 'tuple'>


one_elem_tuple_1 = ("one", )    # Brackets and a comma.

one_elem_tuple_2 = "one",       # No brackets, just a comma.


my_tuple_1 = 1, 
print(type(my_tuple_1))    # outputs: <class 'tuple'>

my_tuple_2 = 1             # This is not a tuple.
print(type(my_tuple_2))    # outputs: <class 'int'>

# indexando uma tupla
my_tuple = (1, 2.0, "string", [3, 4], (5, ), True)

print(my_tuple[3])    # outputs: [3, 4]

#  Tuples are immutable, cannot append tuples, or modify, or remove tuple elements

(1, 2, True, 'a string', (3, 4), [5, 6], None)
[1, 2, True, 'a string', (3, 4), [5, 6], None]
<class 'tuple'>
<class 'tuple'>
<class 'int'>
[3, 4]

In [11]:
# tuplas podem ser deletadas
my_tuple = 1, 2, 3, 

del my_tuple

print(my_tuple)  # NameError: name 'my_tuple' is not defined

NameError: name 'my_tuple' is not defined

In [11]:
# usando loop for em tuplas:

# Example 1
tuple_1 = (1, 2, 3)
for elem in tuple_1:
    print(elem, end= ' * ')
    
print('\n')   
# Example 2
tuple_2 = (1, 2, 3, 4)
print(5 in tuple_2) # False
print(5 not in tuple_2)# True

print('\n')
# Example 3
tuple_3 = (1, 2, 3, 5)
print(len(tuple_3))

# Example 4
tuple_4 = tuple_1 + tuple_2
tuple_5 = tuple_3 * 2
print(tuple_4)
print(tuple_5)

1*2*3*

False
True


4
(1, 2, 3, 1, 2, 3, 4)
(1, 2, 3, 5, 1, 2, 3, 5)

Criar uma tupla usando uma função interna do Python chamada tuple().
Isso é particularmente útil quando se deseja converter um iterável específico
(por exemplo, uma lista, intervalo, string, etc.) em uma tupla:

In [17]:
my_tuple = tuple((1, 2, "string"))
print(my_tuple)

my_list = [2, 4, 6]
print(my_list)    # outputs: [2, 4, 6]
print(type(my_list))    # outputs: <class 'list'>

tup = tuple(my_list) # converte a lista em tupla

print(tup)    # outputs: (2, 4, 6)
print(type(tup))    # outputs: <class 'tuple'>

(1, 2, 'string')
[2, 4, 6]
<class 'list'>
(2, 4, 6)
<class 'tuple'>

In [18]:
# o inverso, transformando a tupla em lista

tup = 1, 2, 3, 
my_list = list(tup)
print(type(my_list))    # outputs: <class 'list'>

<class 'list'>

In [20]:
# De tuplas para variaveis

tup = 1, 2, 3
a, b, c = tup # transforme os itens das tuplas em variaveis

print(a * b * c) # 1 * 2 * 3

#Os elementos da tupla tup foram "desempacotados" nas variáveis a, b e c.

6

In [25]:
# metodo .count()

tup = 1, 2, 3, 2, 4, 5, 6, 2, 7, 2, 8, 9

duplicates = tup.count(2) # conta quantas vezes o número aparece

print(duplicates)    # outputs: 4

4

In [28]:
# cast to tuple/dict

my_list = ["car", "Ford", "flower", "Tulip"]

t =  tuple(my_list)
print(t)


colors = (("green", "#008000"), ("blue", "#0000FF"))

colors_dictionary = dict(colors) # tupla para dicionario

print(colors_dictionary)

('car', 'Ford', 'flower', 'Tulip')
{'green': '#008000', 'blue': '#0000FF'}

In [31]:
# Usando copy, funciona igual copiar uma lista ex:
# lista_copy = lista[:]

my_dictionary = {"A": 1, "B": 2}

copy_my_dictionary = my_dictionary.copy() # faz a cópia

my_dictionary.clear() # limpa os dados

print(copy_my_dictionary)

{'A': 1, 'B': 2}

In [30]:
# Se apenas instaciar, tudo que é feito no original vale para a cópia e vice-versa

my_dictionary = {"A": 1, "B": 2}

copy_my_dictionary = my_dictionary 

my_dictionary.clear()

print(copy_my_dictionary)

{}

In [5]:
tuple_1 = 1,
tuple_2 =  '',
print(tuple_1)
print(tuple_2)

(1,)
('',)